{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
    {% block info%} <img src="img.members//{{members.image}}" alt
  {% for entry in data.members %}
  <div> class="col-sm-6 col-lg-3" </div>
  <p>{{ entry.title }}, {{ entry.date }}, {{ entry.url}}</p>
{% endfor %}
    <div class="col-sm-4 left-rail">
      {% block info %}{% endblock %}
    </div>
    <div class="col-sm-8">
      {% block story %}{% endblock %}

    </div>
  </div>
</article>
{% endblock %}
