{% extends '_layouts/base.njk' %}


{% for members in data.members %}
{% block page_title %} {{members.name}} {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4-offset-1 col-sm-12">
  {% block info %}
        <img src="img/members/{{ members.imagebw }}" alt="member photo" style="padding-right:200px; padding-bottom: 20px;" class="responsive">
      {% endblock %}
    </div>
    <div class="col-lg-8 col-md-8-offset-1 col-sm-12 " style="padding-left: 100px; padding-right: 100px;">
    <h1>{{ members.name }}</h1>
    <p> {{members.text | safe}}</p>
    </div>
    </div>
    {% endblock %}
    {% endfor %}
    </div>
    </div>
</div>

