{% extends '_layouts/detail.njk' %}

{% block info %}
  <img src="img/members/freddie-mercury-bw.jpg">
{% endblock %}

{% block story %}
  <h2>Freddie Mercury</h2>
  {% for member in data.members %}
  {{ member.name }} {{ member.instrument }} {{ member.birthplace}} {{member.birthdate}} {{member.tenure}} {{ member.text [0] }}
{% endfor %}
{% endblock %}



